.blog__body {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 5%;
}
.blog__title {
  color: #21243d;
  margin-bottom: 5%;
}
.blog__title h1 {
  font-size: 40px;
  font-weight: 700;
}
.blog__list .piece {
  border-bottom: 1px solid rgb(224, 224, 224);
}
.blog__list .piece h2 {
  color: #21243d;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 1%;
  margin-top: 3%;
}
.blog__list p {
  color: #21243d;
  font-size: 18.6px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 3%;
}
.blog__list table {
  margin-bottom: 1%;
  font-size: 20px;
}
.blog__list table .one {
  color: #21243d;
  font-weight: 400;
  padding-right: 20px;
}
.blog__list table .two {
  color: #8695a4;
  font-weight: 400;
  padding-right: 20px;
  padding-left: 20px;
}

.work__body {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 5%;
}
.work__title {
  color: #21243d;
  margin-bottom: 5%;
}
.work__title h1 {
  font-size: 40px;
  font-weight: 900;
}
.work .works__img {
  width: 70%;
  margin-bottom: 1%;
}
.work .works__img img {
  width: 100%;
  border-radius: 6px;
}

.contact__body {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8vw;
  margin-bottom: 3vw;
}
.contact__title {
  text-align: center;
}
.contact__title h1 {
  font-size: 30px;
  font-weight: 700;
  color: #21243d;
}
.contact__title p {
  color: #21243d;
  font-size: 17px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 5%;
}
.contact .windows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact .windows__input {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 3%;
}
.contact .windows__input input {
  width: 45%;
  height: 3.5vw;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  padding: 18px 20px;
  outline: none;
  border: none;
}
.contact .windows textarea {
  width: 50%;
  height: 15vw;
  border: none;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  padding: 18px 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  padding-top: 20px;
  resize: none;
  outline: none;
  margin-bottom: 5%;
}
.contact__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact__submit a {
  padding: 10px 60px;
  background-color: rgb(255, 100, 100);
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
}
.contact__submit a:hover {
  background-color: rgb(23, 174, 23);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.332);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.332);
}

html,
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  height: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  font-family: "Heebo", sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 6000px;
  margin-left: auto;
  margin-right: auto;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.nav {
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: white;
}
.nav__body {
  width: 53%;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav__body .logo {
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav__body .logo__capybara {
  width: 50px;
  height: 50px;
  margin-top: auto;
  margin-bottom: auto;
  background-image: url(../images/header/menu/capybara.svg);
}
.nav__body .logo__capybara:hover {
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  background-image: url(../images/header/menu/capybara_green.svg);
  -webkit-filter: drop-shadow(1px 1px 150px black);
          filter: drop-shadow(1px 1px 150px black);
}
.nav__nav {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 5%;
}
.nav__nav .link {
  color: black;
  padding: 20px 20px 20px 20px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}
.nav__nav .link:hover {
  color: rgb(23, 174, 23);
  text-shadow: 1px 1px 100px black;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.nav__nav .link_red {
  color: rgb(255, 100, 100);
  padding: 20px 20px 20px 20px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}
.nav__nav .link_red:hover {
  color: rgb(23, 174, 23);
  text-shadow: 1px 1px 100px black;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.box {
  margin-top: 10%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.title_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.title_box__title {
  width: 60%;
  margin-bottom: 7%;
  padding-top: 21px;
}
.title_box__title h1 {
  color: #21243d;
  font-size: 44px;
  font-size: calc(32px + 1.0434782609vw);
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 3%;
}
@media (max-width: 320px) {
  .title_box__title h1 {
    font-size: calc(32px + 20.4 * (100vw - 320px) / 1150);
  }
}
.title_box__title p {
  color: #21243d;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 8%;
}
.title_box__title a {
  padding: 10px 20px;
  background-color: rgb(255, 100, 100);
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
}
.title_box__title a:hover {
  background-color: rgb(23, 174, 23);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.332);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.332);
}
.title_box__images {
  width: 250px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
}
.title_box__images img {
  border-radius: 50%;
  border: 1px solid #000;
  -webkit-box-shadow: -10px 10px 4px 0px rgb(211, 220, 223);
          box-shadow: -10px 10px 4px 0px rgb(211, 220, 223);
}

.recent_posts {
  background-color: #edf7fa;
  width: 100vw;
}
.recent_posts__body {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
}
.recent_posts__body p {
  color: #21243d;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 3%;
}
.recent_posts__body .a_2 {
  color: #00a8cc;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 3%;
  text-decoration: none;
}
.recent_posts__body .a_2:hover {
  text-decoration: underline;
  text-shadow: 1px 1px 30px rgba(0, 0, 0, 0.178);
}
.recent_posts__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 4.6%;
}
.cards__one, .cards__two {
  background-color: white;
  width: 48%;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(187, 225, 250, 0.25);
          box-shadow: 0px 4px 10px 0px rgba(187, 225, 250, 0.25);
}
.cards__one h2, .cards__two h2 {
  color: #21243d;
  font-size: 30px;
  font-weight: 700;
  padding: 20px 25px 10px 25px;
}
.cards__one td, .cards__two td {
  color: #21243d;
  font-size: 20px;
  font-weight: 400;
  padding: 10px 25px 10px 25px;
}
.cards__one p, .cards__two p {
  color: #21243d;
  font-size: 18.6px;
  font-weight: 400;
  padding: 10px 25px 10px 25px;
}

.featured_works__body {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 7%;
}
.featured_works__body .p_works {
  color: #21243d;
  font-size: 22px;
  font-weight: 400;
  padding-bottom: 4%;
  padding-top: 4%;
}

.works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid rgb(224, 224, 224);
  margin-bottom: 3%;
}
.works__images {
  width: 50%;
}
.works__images img {
  width: 100%;
  margin-bottom: 2%;
  border-radius: 6px;
}
.works__info {
  padding: 0px 20px 0px 20px;
}
.works__info .years_info {
  padding: 0px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  margin-bottom: 2.5%;
}
.works__info .years_info .one {
  border-radius: 16px;
  background-color: #142850;
  padding: 2px 12px 2px 12px;
  color: white;
  font-size: 18px;
  font-weight: 900;
}
.works__info .years_info .two {
  color: #8695a4;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}
.works h3 {
  color: #21243d;
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 1%;
}
.works p {
  color: #21243d;
  font-size: 17px;
  font-weight: 400;
  line-height: normal;
}

.footer__body {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 5%;
}
.footer .helpful_information {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}
.footer .helpful_information a {
  color: #21243d;
  text-decoration: none;
}
.footer .helpful_information a:hover {
  color: rgb(23, 174, 23);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  text-decoration: underline;
}
.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4%;
}
.footer__link .facebook {
  width: 30px;
  height: 30px;
  background-image: url(../images/footer/link/black_link/fb.svg);
}
.footer__link .facebook:hover {
  width: 30px;
  height: 30px;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  -webkit-filter: drop-shadow(1px 1px 150px black);
          filter: drop-shadow(1px 1px 150px black);
  background-image: url(../images/footer/link/green_link/fb_green.svg);
}
.footer__link .instagram {
  width: 30px;
  height: 30px;
  background-image: url(../images/footer/link/black_link/insta.svg);
}
.footer__link .instagram:hover {
  width: 30px;
  height: 30px;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  -webkit-filter: drop-shadow(1px 1px 150px black);
          filter: drop-shadow(1px 1px 150px black);
  background-image: url(../images/footer/link/green_link/insta_green.svg);
}
.footer__link .twitter {
  width: 37px;
  height: 30px;
  background-image: url(../images/footer/link/black_link/twitter.svg);
}
.footer__link .twitter:hover {
  width: 37px;
  height: 30px;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  -webkit-filter: drop-shadow(1px 1px 150px black);
          filter: drop-shadow(1px 1px 150px black);
  background-image: url(../images/footer/link/green_link/twitter_green.svg);
}
.footer__link .linkedin {
  width: 30px;
  height: 30px;
  background-image: url(../images/footer/link/black_link/linkedin.svg);
}
.footer__link .linkedin:hover {
  width: 30px;
  height: 30px;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  -webkit-filter: drop-shadow(1px 1px 150px black);
          filter: drop-shadow(1px 1px 150px black);
  background-image: url(../images/footer/link/green_link/linkedin_green.svg);
}