html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: "Heebo", sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

page {
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 6000px;
  margin-left: auto;
  margin-right: auto;
}

main {
  flex: 1 1 auto;
}

.nav {
  background-color: beige;
  text-decoration: none;
  display: flex;
  &__menu {
    background-color: aqua;
    margin-left: auto;
    display: flex;
    margin-right: 4%;
    & a {
      text-decoration: none;
      padding: 25px 25px 25px 25px;
      font-size: 20px;
      font-weight: 500;
      color: black;
      &:hover {
        color: rgba(255, 100, 100, 1);
        text-shadow: 0px 0px 100px black;
      }
    }
  }
}

.header__title-box {
  background-color: bisque;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  .header__title {
    width: 60%;
    background-color: aqua;
    & h1 {
      color: #21243d;
      font-size: 44px;
      font-weight: 700;
      line-height: 60px;
    }
  }
}
